# Bytecode and caches
__pycache__/

# Environment
dev/.venv/

# Data or outputs
*.csv
*.h5
*.ckpt
*.tfrecord
dev/legacy.py
logs/
checkpoints/
dev/!Archiv/
dev/!Trash/
dev/pipeline/Data/
dev/Test1Sample/
*.pkl
*.npy
dev/stitched_scenes
*.tflite
*.png
*.txt
dev/pipeline/config.json
results
scenes
.archive


# Personal files
.stuff/

# LaTeX build artifacts
*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.blg
*.pdf
thesis/build/

.vscode
.Archiv
shared
*.bin
include
lib
python
build
edgetpu_results
scripts
testdata
thesis/files

